/* workshop */

body{
  background-color: black
}


.wrapper{
width: 90%;
margin: 0 auto;
max-width: 80rem;
}

.cols {
display: flex;
/* flex-wrap: wrap; */
justify-content: center;
}

.col{
width: calc(25% - 2rem);
margin: 1rem;
cursor: pointer;
}

.container{
-webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
-webkit-perspective: 1000px;
        perspective: 1000px;
}


.wrapper2{
display: flex;
flex-direction: row;
justify-content: center;
}
.front,
.back{
background-size: cover;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
border-radius: 10px;
background-position: center;
-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
text-align: center;
min-height: 280px;
height: auto;
border-radius: 10px;
color: #fff;
font-size: 1.5rem;
}

.back{
background: #cedce7;
background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 100%;
height: 100%;
content: '';
display: block;
opacity: .6;
background-color: #000;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
position: absolute;
top: 0;
left: 0;
width: 100%;
}

.inner{
-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
top: 50%;
position: absolute;
left: 0;
width: 100%;
padding: 2rem;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
outline: 1px solid transparent;
-webkit-perspective: inherit;
        perspective: inherit;
z-index: 2;
}

.container .back{
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.container .front{
-webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.container:hover .back{
-webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
-webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
}

.container:hover .front{
-webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
-webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
}

.front .inner p{
font-size: 40px;
margin-bottom: 2rem;
position: relative;
}

.front .inner p:after{
content: '';
width: 4rem;
height: 2px;
position: absolute;
background: #C6D4DF;
display: block;
left: 0;
right: 0;
margin: 0 auto;
bottom: -.75rem;
}

#workshop-heading{
display: block;
margin: auto;
/* border: 2px solid black; */
text-align: center;
padding: 8px;
margin-bottom: 53px;
font-size: 33px;
color: white;
font-family: sans-serif;

}

.front .inner span{
color: rgba(255,255,255,0.7);
font-family: 'Montserrat';
font-weight: 300;
}



.out_side_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 243px;
  color: #fff;
  text-align: center;
}

/* .out_side_content h2{
  font-size: 4rem;
} */

/* .out_side_content p{
  font-size: 1.2rem;
} */

.counters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  font-size: 44px;
}

.counters span{
  display: block;
  text-align: center;
}


.time{
  padding: 2rem;
  /* border: 2px solid red; */

}


.numbers{
  font-size: 5rem;
  font-weight: 800;
  color: red;
}

@media screen and (width<500px) {
  .cols {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          /* justify-content: center; */
          /* align-items: center; */
  }
  .wrapper2 {
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          /* align-items: center; */
      }
      .front .inner p {
          font-size: 20px;
          text-align: center;
          margin-left: 5px;
      }
      .front .inner span {
          font-size: 20px;
          text-align: center;
          margin-left: 5px;
      }
      .back .inner p{
          font-size: 14px;
          margin-bottom: 2rem;
          position: relative;
          text-align: center;
      }
      .front:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 300px;
          height: 100%;
          content: '';
          display: block;
          opacity: .6;
          background-color: #000;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 10px;
      }
      .front{
        width: 300px;
      }
      .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 300px;
      }
      .back:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 300px;
          height: 100%;
          content: '';
          display: block;
          opacity: .6;
          background-color: #000;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 10px;
      }
      .hidden{
          display: none;
      }

      #menu-area ul li a{
          margin-left: 270px;
      }
      .workshop-span-title{
          margin-left: 72px;
      }
      .front img{
          width: 80px;
      }
}


/* Slider */

/*testimonial*/
/*.testimonial{
    position: relative;
    max-width: 900px;
    width:100%;
    padding: 50px 0px;
}

.container{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.testimonial .sld{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap:30px;
}

.sld p{
    text-align: center;
    padding:0 160px;
    font-size:14px;
    font-weight: 400;
    color:white;
}
.sld .quote-icon{
    font-size:30px;
    color:rgb(246, 177, 88);
}
.sld .details{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.details .name{
    font-weight:600;
    font-size:14px;
    color:white;
}
.details .job{
    font-weight:400;
    font-size:12px;
    color:white;
}

  .testimonial {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .cntnt {
    flex: 0 0 100%; /* Each slide takes up the full width */
    /* box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    font-weight:600;
    
  } */
  
  /* #prev{
    border-radius: 50%;
    margin-left: 10px;
    background-color:rgb(246, 177, 88) ;
    border:1px solid rgb(246, 177, 88);
    width:50px;
    height:50px;
    font-size:20px;
  }
  #nxt{
    border-radius:50%;
    margin-right: 10px;
    background-color:rgb(246, 177, 88) ;
    border:1px solid rgb(246, 177, 88);
    width:50px;
    height:50px;
    font-size:20px;
  } */

/*live streaming slider*/
.wrapper3{
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center ;
}
.container-wrapper{
  height:400px;
  display:flex;
  flex-wrap:nowrap;
  justify-content: start;
  margin-left: 64px;
}

.card{
  width:80px;
  border-radius:.75rem;
  background-size:cover;
  cursor:pointer;
  overflow:hidden;
  border-radius:2rem;
  margin:0 10px;
  display:flex;
  align-items: flex-end;
  transition:.6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow:0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row{
  color:white;
  display:flex;
  flex-wrap:nowrap;
}

.card > .row > .icon{
  background:#223;
  color:white;
  border-radius:50%;
  width:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:15px;
}

.card > .row > .description{
  display:flex;
  justify-content: center;
  flex-direction: column;
  overflow:hidden;
  height:80px;
  width:520px;
  opacity:0;
  transform: translateY(30px);
  transition-delay:.3s;
  transition:all .3s ease;
}

.description p{
  color:#b0b0ba;
  padding-top:5px;
}

.description h4{
  text-transform:uppercase;
}


/* input{
  display:none;
}

input:checked + label{
  width:600px;
}
input:checked + label .description{
  opacity:1 !important;
  transform:translateY(0) !important;
}  */

.card[for="c1"]{
  background-image:url("antique-cafe-bg-02.jpg");

}
.card[for="c2"]{
  background-image:url("antique-cafe-bg-01.jpg");
  
}
.card[for="c3"]{
  background-image:url("antique-cafe-bg-03.jpg");
  
}
.card[for="c4"]{
  background-image:url("antique-cafe-bg-04.jpg");
  
}




/* navbar */

#menu-area ul li a:hover{
  color: #ffffff;
}
#menu-area {
  display: flex;
  justify-content: space-between;
  /* padding: 0 60px; */
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #B7966B;
  z-index:2000;
  opacity:0.7;
  color: #2E1402;
  transition: background 0.5s;
  
 }
 #menu-area .logo img {
  height: 70px;
  transition: height 0.5s;
  padding-top: 10px;
 }
 #menu-area ul {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
 }
 #menu-area ul li a {
  text-decoration: none;
  color: #2E1402;
 }
 
 #menu-area.cus-nav {
  background: #262626;
 }
 #menu-area.cus-nav a {
  color: #fff;
 }
 #menu-area.cus-nav .logo img {
  height: 65px;
 }
 .sidebar {
  position: fixed;
  top: -5px;
  left: 2px;
  height: 300px;
  width: 92px;
  /* margin-right: 0; */
  z-index: 9999;
  background-color: #B7966B;
  display: none;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  list-style: none;
}
 .sidebar li{
  padding: 20px;
  text-decoration: none;
  margin-right: 200px;
}
.sidebar li a{
  color: #fff;
  text-decoration: none;
  right: 20px;
}

 @media screen and (width<500px){
  #show{
    display: block;
  }
  #hanusha{
    display: none;
  }
}



/* Footer */


/* Footer styling */
.footer{
  display:flex;
  background: #946D43;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.footleft{
  flex-basis:40%;
  padding-left:42px;
  padding-right:42px;
  padding-bottom: 42px;
  padding-top:5px;
}
.footleft p{
  color:white;
}
.footright{
  flex-basis:40%;
  padding:10px;
}
.footright h2{
  text-align:center;
  color:white;
}
form{
  display:flex;
  flex-direction: column;
  padding:15px;
}
#footerlogo{
  width:156px;
  height:106px;
  padding:5px;
  margin-top: 1px;
  /* margin-left: 2.2px; */
}
#email{
  padding:5px;
  margin:5px;
 background-color:  #1f2022;
 border:1px solid #1f2022;
 border-radius:5px;
 color:white;
 height:33px;
}
#mssg{
  padding:5px;
  margin:5px;
  background-color:  #1f2022;
  border:1px solid #1f2022;
  border-radius:5px;
  color:white;
  height:79px;
}
#submit{
  height:36px;
  width:91px;
  margin:5px;
  background-color:  #1f2022;
  border:1px solid #1f2022;
  border-radius:5px;
  color:white;
}
.footernav {
  color:white;
  text-decoration:none;
  padding:3px;
}
.footer-social-icon1{
  margin-top:30px;
}

.footer-social-icon1 a{
  text-decoration:none;
  font-size:30px;
  margin-right:15px;
  color:white;
  display:inline-block;
  transition:transform 0.5s;
}

.footer-social-icon1 a:hover{
  color:#0192ff;
  transform:translateY(-5px);
}

.footercontent {
  margin-left: 30.200000000000003px;
  margin-top: 26.200000000000003px;
}

.footer-social-icon1 {
  margin-left: 24.2px;
}

.details{
  margin-left: 2.2px;
}

.footleft{
  padding-right:12px;
  padding-left:1px;
}
.footright{
  margin-left:-240px;
}
.footerlogo{
  padding:0px;
}
.details h2{
  color: #fc6;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.details p{
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: white;
  text-align: left;
}
.footer-details{
margin-left: 33px;
}


.prlx-4{
  background:url('antique-cafe-bg-04.jpg') no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height: 400px;
}

.prlx-inner{
  padding:10% 0;
}


.prlx-3{
  background:url('antique-cafe-bg-04.jpg') no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}





@media screen and (width<500px){
  #show{
    display: block;
  }
  #hanusha{
    display: none;
  }
}